---
grafana:
  adminPassword: admin
  service:
    type: ClusterIP
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: ""
          type: file
          options:
            path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      sample:
        file: grafana-dashboards/sample-dashboard.json

prometheus:
  prometheusSpec:
    retention: 3d

